---
name: Code Health
on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}
jobs:
  compile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm ci
      - name: compile
        run: npx projen compile
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: actionlint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
        shell: bash
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm ci
      - name: lint
        run: npx projen eslint
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Run ShellCheck
        uses: bewuethr/shellcheck-action@80bac2daa9fcf95d648200a793d00060857e6dc4
  check-l1-updated:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 24.x
      - run: npm ci
      - run: npm install -g cdk-import
      - run: ./scripts/cdk-all.sh
      - run: npx projen build
      - name: Find mutations
        id: self_mutation
        run: |-
          git add .
          git diff --staged --patch > .repo.patch
          if [ -s .repo.patch ]; then
            echo "self_mutation_happened=true" >> "${GITHUB_OUTPUT}"
          fi
      - name: Upload patch
        if: steps.self_mutation.outputs.self_mutation_happened
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: .repo.patch
          path: .repo.patch
          include-hidden-files: true
      - name: Fail build on mutation
        if: steps.self_mutation.outputs.self_mutation_happened
        run: |-
          echo "::error::Files were changed during build (see build log). If this was triggered from a fork, you will need to update your branch."
          cat .repo.patch
          exit 1
  check-examples:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 24.x
      - run: npm ci
      - run: npm install -g cdk
      - run: npx projen build
      - run: npx projen package:js 
      - run: ./scripts/check-examples.sh
  call-package-workflow:
    needs: [compile, lint, shellcheck, check-l1-updated, check-examples]
    secrets: inherit
    permissions:
      contents: write
      pull-requests: read
    uses: ./.github/workflows/package.yml

