# dependency-review-action scans pull requests for dependency changes, 
# and will raise an error if any vulnerabilities or invalid licenses are being introduced.
# This action does not work for pushes to the main branch.
---
name: Dependency Review
on:
  pull_request: {}
jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Dependency Review
        uses: actions/dependency-review-action@da24556b548a50705dd671f47852072ea4c105d9
