# dependency-review-action scans pull requests for dependency changes, 
# and will raise an error if any vulnerabilities or invalid licenses are being introduced.
# This action does not work for pushes to the main branch.
---
name: Dependency Review
on:
  pull_request: {}
jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261
