name: Augment SBOM

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Release version (e.g. 3.12.1)"
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  augment-sbom:
    runs-on: ubuntu-latest
    env:
      KONDUKTO_TOKEN: ${{ secrets.KONDUKTO_TOKEN }}
      KONDUKTO_REPO: ${{ vars.KONDUKTO_REPO }}
      KONDUKTO_BRANCH_PREFIX: ${{ vars.KONDUKTO_BRANCH_PREFIX }}
      SILKBOMB_IMG: ${{ vars.SILKBOMB_IMG }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

      - name: Augment SBOM with Kondukto
        env:
          RELEASE_VERSION: ${{ inputs.release_version }}
        run: ./scripts/compliance/augment-sbom.sh

      - name: Generate SSDLC report
        env:
          AUTHOR: ${{ github.actor }}
          VERSION: ${{ inputs.release_version }}
          AUGMENTED_REPORT: "true"
        run: ./scripts/compliance/gen-ssdlc-report.sh

      - name: Upload augmented SBOM as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: augmented_sbom_and_ssdlc_report
          path: |
            compliance/v${{ inputs.release_version }}/augmented-sbom-v${{ inputs.release_version }}-${{ steps.date.outputs.date }}.json
            compliance/v${{ inputs.release_version }}/ssdlc-compliance-${{ inputs.release_version }}-${{ steps.date.outputs.date }}.md
          if-no-files-found: error 
