---
name: Package CDK
on:
  workflow_call: {}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm ci
      - name: build
        run: npx projen build
  package-js:
    needs: build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Dependencies
        run: npm ci
      - name: Create js artifact
        run: npx projen compile && npx projen package:js
  package-java:
    needs: build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          distribution: temurin
          java-version: 21.x
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Dependencies
        run: npm ci
      - name: Create java artifact
        run: npx projen compile && npx projen package:java
  package-python:
    needs: build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.x
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Dependencies
        run: npm ci
      - name: Create python artifact
        run: npx projen compile && npx projen package:python
  package-dotnet:
    needs: build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602
        with:
          dotnet-version: 9.0.x
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Dependencies
        run: npm ci
      - name: Create dotnet artifact
        run: npx projen compile && npx projen package:dotnet

  package-go:
    needs: build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: ^1.25.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install Dependencies
        run: npm ci
      - name: Create go artifact
        run: npx projen compile && npx projen package:go

