name: Release (Requires manual steps to take, check all jobs are successful)
on: workflow_dispatch
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0
          ref: main
      - name: Set git config safe.directory
        run: git config --global --add safe.directory "$(pwd)"
      - name: Set git identity
        run: |-
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 24.x
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        name: Setup Java
        with:
          distribution: temurin
          java-version: 21.x
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        name: Setup Python
        with:
          python-version: 3.x
      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
        name: Setup .NET
        with:
          dotnet-version: 9.0.x
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        name: Setup Go
        with:
          go-version: ^1.25.0
      - name: Install dependencies
        run: npm ci
      - name: release
        run: |
          unset CI # enable full package-all https://github.com/mongodb/awscdk-resources-mongodbatlas/blob/main/.projen/tasks.json#L157-L170
          npx projen release
      - name: Backup artifact permissions
        run: cd dist && getfacl -R . > permissions-backup.acl
        continue-on-error: true
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: build-artifact
          path: dist
          overwrite: true
  release_npm:
    name: Publish to npm
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      id-token: write # Required for provenance & Trusted Publishing.
    steps:
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          name: build-artifact
          path: dist
      - name: Restore build artifact permissions
        run: cd dist && setfacl --restore=permissions-backup.acl
        continue-on-error: true
      - name: Install dependencies
        run: npm ci
      - name: Publish to npm with provenance
        env:
          NPM_CONFIG_PROVENANCE: true
        run: npx -p publib@latest publib-npm
