---
name: Upgrade Dependencies
on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 9 * * 2 # every Tuesday at 9am
permissions:
  contents: write
  pull-requests: write
jobs:
  upgrade:
    name: Upgrade
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm ci
      - name: Upgrade dependencies
        run: npx projen upgrade
      - name: Set git identity & add files to commit
        run: |
          git config --local user.email svc-api-experience-integrations-escalation@mongodb.com
          git config --local user.name svc-apix-bot
          git add .
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725
        with:
          token: ${{ secrets.APIX_BOT_PAT }}
          title: "chore: Upgrade dependencies"
          commit-message: "Upgrade dependencies"
          delete-branch: true
          branch: upgrade-dependencies
          body: "Upgrades project dependencies. See details in [workflow run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"
